<template>
  <v-app dark>
    <div class="space">
      <div class="stars">
        <v-app-bar fixed app>
          <nuxt-link to="/">
            <v-toolbar-title v-text="title" />
          </nuxt-link>
        </v-app-bar>
        <v-content>
          <v-container>
            <nuxt />
          </v-container>
        </v-content>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      title: "Nuxt"
    };
  }
};
</script>

<style scoped>
.nuxt-link-active {
  text-decoration: none;
  color: inherit;
}

.space,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}

.stars {
  background-image: radial-gradient(
      2px 2px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
}
</style>
