<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-center"></div>
      <v-card>
        <v-card-title>
          Star Wars Quotes
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="quote"
          :items-per-page="10"
          :sort-by="['character', 'episode']"
          class="elevation-1"
          :search="search"
        >
          <template v-slot:body="{ items }">
            <tbody>
              <nuxt-link tag="tr" v-for="item in items" :key="item.id" :to="`quote/${item.id}`">
                <td>{{ item.quote }}</td>
                <td>{{item.character}}</td>
                <td>{{item.episode}}</td>
              </nuxt-link>
            </tbody>
          </template>
        </v-data-table>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import allQuotes from "~/apollo/queries/allQuotes";

export default {
  // similar behavior to Nuxt's asyncData() method
  // ie. runs first on server side, then subsequently on client
  apollo: {
    quote: {
      query: allQuotes,
      prefetch: true
    }
  },
  components: {},
  data() {
    return {
      search: "",
      headers: [
        {
          text: "Quote",
          align: "start",
          sortable: false,
          value: "quote"
        },
        { text: "Character", value: "character" },
        { text: "Episode", value: "episode" }
      ]
    };
  }
};
</script>
